@import "reset.css";
@import "cores.css";

body {
  font-size: clamp(17px, 3vw, 24px);
  font-family: "Cormorant Garamond", serif;
  color: var(--bs-pink-2);
  background-color: var(--bs-beige-1);
}

.respostaExercicio {
  margin-bottom: 20px;
}

.position-forms-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.font-bold {
  font-weight: 700;
}

.div-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.content-exercicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.card-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 60%;
  height: auto;
  margin: auto;
  border: 2px solid var(--bs-blue-3);
  border-radius: 20px;
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-blue-4);
  background-color: var(--bs-blue-5);
}

.logo {
  width: auto;
  height: 10vw;
}

.titulo {
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.position-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.input-style {
  height: 30px;
  border-radius: 10px;
  background-color: var(--bs-pink-1);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-pink-4);
  color: var(--bs-blue-4);
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 10px;
}

.input-number {
  width: 100px !important;
}

.button-style {
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--bs-blue-4);
  background-color: var(--bs-beige-2);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-beige-4);
}

.button-style:hover {
  color: var(--bs-beige-1);
  background-color: var(--bs-blue-2);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-blue-1);
}

.button-style:disabled {
  background-color: var(--bs-gray-0);
  color: var(--bs-gray-1);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-gray-2);
}

@media screen and (min-width: 360px) {
  body {
    min-height: 210vw;
  }

  .logo {
    height: clamp(160px, 25vw, 180px);
  }

  .card-principal {
    width: 90%;
  }

  .position-inputs {
    flex-direction: column;
  }

  .label-style {
    font-size: clamp(1.6rem, 3.5vw, 3rem);
    width: auto;
  }

  .input-style {
    width: 75vw;
  }
}

@media screen and (min-width: 500px) {
  body {
    min-height: 160vw;
  }

  .card-principal {
    width: 80%;
  }

  .titulo {
    font-size: 2.5rem;
  }

  .input-style {
    width: 65vw;
  }
}

@media screen and (min-width: 700px) {
  body {
    min-height: 130vw;
  }

  .titulo {
    font-size: clamp(1.8rem, 5.5vw, 3.5rem);
  }

  .card-principal {
    width: 70%;
  }

  .input-style {
    width: 55vw;
  }
}

@media screen and (min-width: 800px) {
  body {
    min-height: 160vw;
  }
}

@media screen and (min-width: 900px) {
  body {
    min-height: 74vw;
  }

  .input-style {
    font-size: 1.3rem;
    height: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .position-inputs {
    flex-direction: row;
  }

  .card-principal {
    width: 82%;
  }

  .label-style {
    font-size: clamp(2rem, 2.3vw, 2.3rem);
    width: 220px;
  }

  .input-style {
    width: 24vw;
  }
}

@media screen and (min-width: 1300px) {
  body {
    min-height: 57vw;
  }

  .card-principal {
    width: 70%;
  }
}

@media screen and (min-width: 1400px) {
  body {
    min-height: 65vw;
  }
}

@media screen and (min-width: 1600px) {
  .card-principal {
    width: 60%;
  }

  .label-style {
    width: 240px;
  }

  .input-style {
    width: 27vw;
  }
}