@import "reset.css";
@import "cores.css";

body {
  font-size: clamp(17px, 3vw, 24px);
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--bs-beige-4);
  background: rgb(229, 241, 222);
  background: linear-gradient(
    180deg,
    rgba(229, 241, 222, 1) 0%,
    rgba(160, 212, 132, 1) 41%,
    rgba(127, 177, 99, 1) 80%
  );
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 1vw;
  border-radius: 20px;
}

.card-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 60vw;
  height: 33vw;
  margin: auto;
  border: 2px solid var(--bs-blue-3);
  border-radius: 20px;
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-blue-4);
  margin-bottom: 100px;
  background-color: var(--bs-blue-5);
}

.logo {
  width: auto;
  height: 10vw;
}

.titulo {
  font-weight: 500;
  text-align: center;
}

.position-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.input {
  height: 30px;
  border-radius: 10px;
  background-color: var(--bs-green-5);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-green-4);
  color: var(--bs-beige-4);
  font-weight: 500;
}

.button {
    border-radius: 10px;
  font-weight: 500;
  font-size: 1.7rem;
  height: 50px;
  width: 160px;
  margin-top: 10px; 
   color: var(--bs-blue-4);
  background-color: var(--bs-beige-2);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-beige-4);
}

.button:hover {
color: var(--bs-beige-4);
 background-color: var(--bs-green-5);
  box-shadow: 0.2vw 0.2vw 0.3vw var(--bs-green-4);
}
